{% extends "base.html.twig" %}

{% block body %}
    
<body data-spy="scroll" data-target="#navbar" data-offset="0">
   
    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Top Offers</h1>
                        <p class="lead">Get the best insurance offers and rates in our weekly email campaigns<br>Subscribe now an never miss out a deal</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Latest news</h1>
                        <p class="lead">Be the first one to get hands on data on new insurance products, latest news and updates <br>from InsureGuidance.com</p>
                    </div>
                </div>
            </div><!--/.item-->
			<div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Top Data</h1>
                        <p class="lead">Learn how to make money on of the latest finance and investment producs, learn all about insurance market to make educated dessisions</p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
		
<!-- subscription form -->
        <div class="subscribe-form" style="text-align:center; padding-top:50px;">
            <div class= "row">
                {{ form_start(form1, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    {{ form_label(form1.firstname) }}
                    {{ form_widget(form1.firstname) }}
                </div>
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    {{ form_label(form1.lastname) }}
                    {{ form_widget(form1.lastname) }}
                </div>	
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    {{ form_label(form1.emailaddress) }}
                    {{ form_widget(form1.emailaddress) }}
                </div>
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                    {{ form_label(form1.phone) }}
                    {{ form_widget(form1.phone) }}
                </div>
                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                    <span class="input-group-addon"><i class="fa fa-male fa-fw"></i></span>
                    {{ form_label(form1.age) }}
                    {{ form_widget(form1.age) }}
                </div>
                <div class="picklist-style">
                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        {{ form_widget(form1.agreeterms) }}
                        <lable> {{ 'I have read and agreed to ' }} <a href="{{ path('terms') }}" target="_blank"> {{ 'Terms & Conditions' }} </a> </lable>
                        {{ form_row(form1.agreeterms) }}
                    </div>
                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        {{ form_widget(form1.agreeemails) }}
                         <lable> {{ 'I want to get emails from FinSensitive.com' }} </lable>
                        {{ form_row(form1.agreeemails) }}
                    </div>
                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        {{ form_widget(form1.agreepartners) }}
                        <lable> {{ 'I want to get mails from Partners of FinSensitive.com' }} </lable>
                        {{ form_row(form1.agreepartners) }}
                    </div>
                </div>
                <div style="padding-top:1%; padding-bottom:8%;">
                        {{ form_row(form1.submit, { 'label': 'Subscribe to join' }) }}
                </div>    
                {{ form_end(form1) }}
            </div>
        </div>
        <div class="window-BG" id="alert">
            <div class="window">
                <div id="alert-title" class="win-img-text">{{ 'Please solve below errors'|trans }}:</div>
                <div id="alert-text" class="win-text">
                    <div style="color: white; text-align: justify;">
                        {{ form_errors(form1) }}
                    </div>    
                </div>
                <div class="window-close win-close-2">{{ 'Close'|trans }}</div>
            </div>
        </div>
    </section><!--/#main-slider-->
	
	<!-- WHO WE ARE -->
	<section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>What we do</h2>
                    <p class="lead">InsureGuidance.com is a subscription based marketing network, which connects its subscribers to market's leading ensurance related news, opportunities, offers and partners</p>
                </div>
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->
	
    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-university icon-md icon-color1"></i>
                            <h4>Best insurance guide out there</h4>
                            <p>Feel like you need to get insured but not sure what is the righ deal or vendor for you. Subscribe to get our Insurance 101 email campaign</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-cogs icon-md icon-color2"></i>
                            <h4>Learn how insurance works</h4>
                            <p>Want to get a better understanding of how insurance market works, Subscribe to become insurance guru in no time with cost close to zero</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-rss icon-md icon-color3"></i>
                            <h4>Latest insurance producs</h4>
                            <p>Get the first one to get notifications of new insurance products from top insurance companies and never mis out your next perfect plan</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-info icon-md icon-color4"></i>
                            <h4>Claim insurance the right way</h4>
                            <p>Suffered an accident and want to claim insurance for it. Stay tuned to InsureGuidance.com to get through the process hustle free</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-thumbs-o-up icon-md icon-color5"></i>
                            <h4>Insurance best practices</h4>
                            <p>Get access to insider tips and tricks, shared by current and ex employees of top insurance companies. Learn the system from the insight with us</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-money icon-md icon-color6"></i>
                            <h4>Learn how to make money</h4>
                            <p>Learn how to make money hustle free of multiple alternative products of insurance markets and start building your financial independence today</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Latest Products Available</h2>
                    <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac<br>turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                </div><!--/.center-->
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".bootstrap">Intro Guides</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".html">Mid-Level Staff</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".wordpress">Advanced</a></li>
                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                    <li class="portfolio-item bootstrap">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="../images/portfolio/thumb/item1.jpg" alt="">
                            </div>
                            <h5>Latest of car insurance products</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla bootstrap">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="../images/portfolio/thumb/item2.jpg" alt="">
                            </div> 
                            <h5>Pros and Cons of life insurance</h5>         
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap wordpress">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="../images/portfolio/thumb/item3.jpg" alt=""> 
                            </div>
                            <h5>Insurance products advanced guide</h5>          
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla wordpress apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="../images/portfolio/thumb/item4.jpg" alt=""> 
                            </div>
                            <h5>Insurance vendors - who to trust</h5>        
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="../images/portfolio/thumb/item5.jpg" alt=""> 
                            </div>
                            <h5>eInsurance online trainings</h5>  
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="../images/portfolio/thumb/item6.jpg" alt="">
                            </div>
                            <h5>Best of health insurance</h5>         
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="../images/portfolio/thumb/item7.jpg" alt="">
                            </div>
                            <h5>Property insurance case studies</h5>  
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="../images/portfolio/thumb/item8.jpg" alt="">
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>        
                        </div>         
                    </li><!--/.portfolio-item-->
                </ul>   
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Benefits of being with us</h2>
                </div><!--/.center-->   
                <div id="pricing-table" class="row">
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">We get it first in</li>
                            <li class="plan-price">Always be the first one to get the latest news and product releases from top insurance suppliers. With InsureGuidance.com you'll never miss another deal or 
								savings opportunity</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Sign Up</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">We get it the cheapest</li>
                            <li class="plan-price">We know how costly your insurance plan can be. With this in mind, we are contributing to your financial well being by providing insurance opportunities at 
								competitive prices</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Sign Up</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name featured">We work with the best</li>
							<li class="plan-price">Here in InsureGuidance.com we know how important it is to have a reliable insurance provider. So we are contantly working with our partners to impove 
							quality of service provided</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Sign Up</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                </div> 
            </div> 
        </div>
    </section><!--/#pricing-->
</body>
{% endblock %}
